@model ContactModel

@{
    ViewData["Title"] = "Delete Contact Confirm";
}


<div class="text-center">
    <h1>Do you want to Delete this contact? (@Model.Name)</h1>

</div>
<div class="d-grid gap-2">
<a role="button" class="btn btn-primary" asp-controller="Contact" asp-action="Index">Cancel Delete</a>
<a role="button" class="btn btn-danger" asp-controller="Contact" asp-action="Delete" asp-route-id="@Model.Id">Confirm Delete</a>

</div>
